h1{
    text-align: center;
}
.attribute{
    font-weight: bold;
}

.contentAtt{
    font-weight: none;
}

.botonera{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn{
    margin-left: 1px;
    margin-right: 1px;
}

.par{
    background-color:gray;
}

.impar{
    background-color:gainsboro;
}

#tabEstudiantes th{
    text-align: center;
    background-color:black;
    color:white;
}

#tabEstudiantes tr{
    font-size: small;
}

#tabEstudiantes .equipo{
    text-align: center;
}