<div class="container">
  <h1>{{title}}</h1>

  <div class="botonera">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#data_without_format" aria-expanded="false" aria-controls="collapseExample">
      JSON sin formato
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#data_with_format" aria-expanded="false" aria-controls="collapseExample">
      JSON con formato
    </button>

    <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#tarea_div" aria-expanded="false" aria-controls="collapseExample">
      Tarea
    </button>
  </div>
  
  <div class="collapse" id="tarea_div">
    <p><span class="attribute"> Parte 1: </span> Analice y desarrolle</p>
    <ul>
      <li> Crear la estructura de objetos que vienen dentro del JSON </li>
    </ul>
    
    <p><span class="attribute"> Parte 2: </span> Realice un archivo JSON con sus respuestas. Carguelo en esta sección</p>
    <ul>
      <li> Ya que se leyo el archivo JSON ¿Se puede escribir en el? </li>
      <li> Justifique la respuesta anterior </li>
      <li> ¿Puede Java servir de backend? </li>
    </ul>
  </div>


  <div class="collapse" id="data_with_format">

    <div class="container">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
          <div class="attribute">Universidad:</div>
        </div>
        <div class="col-sm-5">
          <div class="contentAtt">{{objJsClase.Universidad}}</div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
          <div class="attribute">Clase:</div>
        </div>
        <div class="col-sm-5">
          <div class="contentAtt">{{objJsClase["Clase Cod"]}} - {{objJsClase["Clase Nom"]}}</div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
          <div class="attribute">Periodo:</div>
        </div>
        <div class="col-sm-5">
          <div class="contentAtt">{{objJsClase.Periodo}}-{{objJsClase["Año"]}}</div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
          <div class="attribute">Profesor:</div>
        </div>
        <div class="col-sm-5">
          <div class="contentAtt">{{objJsClase.Profesor}}</div>
        </div>
        <div class="col-sm-2"></div>
      </div>
      
      <hr>        
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
          <div class="attribute">Temas:</div>
        </div>
        <div class="col-sm-5">
          <div class="contentAtt">
            <ul>
              <li *ngFor="let tema of temasInvestigacion">
                {{ tema }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-3">
        <div class="attribute">Estudiantes:</div>
      </div>
      <div class="col-sm-5">
        <div class="contentAtt">
          <table id="tabEstudiantes">
            <th>Nombre</th>
            <th>Correo electrónico</th>
            <th>Grupo</th>
            <tr *ngFor="let est of estudiantes; 
                        let lineImpar = odd;
                        let linePar = even; " [ngClass]="{par:linePar,
                                                         impar:lineImpar}">
              <td> {{est["Nombre Completo"]}} </td>
              <td> {{est["Correo Universitario"]}} </td>
              <td class="equipo"> {{est.Equipo}} </td>
            </tr>
          </table>
          
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>

  <br/>

  <div class="collapse" id="data_without_format">
    <div class="box box-default">
      <code>
          <pre>{{objJsClase|json}}</pre>
      </code>
    </div>
  </div>
</div>